<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--servlet的配置-->
    <servlet>
        <!--servlet内部名称（自定义）-->
        <servlet-name>EmpServlet</servlet-name>
        <!--servlet类的全名-->
        <servlet-class>com.nicebao.servlet.EmpServlet</servlet-class>
    </servlet>
    <!--servlet的映射配置-->
    <servlet-mapping>
        <!--servlet内部名称（与上面名称一致）-->
        <servlet-name>EmpServlet</servlet-name>
        <!--servlet的映射路径-->
        <url-pattern>/servlet.EmpServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QuitServlet</servlet-name>
        <servlet-class>com.nicebao.servlet.QuitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuitServlet</servlet-name>
        <url-pattern>/servlet.QuitServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PetServlet</servlet-name>
        <servlet-class>com.nicebao.servlet.PetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PetServlet</servlet-name>
        <url-pattern>/servlet.PetServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PetOwnerServlet</servlet-name>
        <servlet-class>com.nicebao.servlet.PetOwnerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PetOwnerServlet</servlet-name>
        <url-pattern>/servlet.PetOwnerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PetVisitServlet</servlet-name>
        <servlet-class>com.nicebao.servlet.PetVisitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PetVisitServlet</servlet-name>
        <url-pattern>/servlet.PetVisitServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.nicebao.servlet.QuitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/servlet.LogoutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.nicebao.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/servlet.RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginLogServlet</servlet-name>
        <servlet-class>com.nicebao.servlet.LoginLogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginLogServlet</servlet-name>
        <url-pattern>/servlet.LoginLogServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserActionLogServlet</servlet-name>
        <servlet-class>com.nicebao.servlet.UserActionLogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserActionLogServlet</servlet-name>
        <url-pattern>/servlet.UserActionLogServlet</url-pattern>
    </servlet-mapping>

    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
            <taglib-location>/WEB-INF/c.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/core-rt</taglib-uri>
            <taglib-location>/WEB-INF/c-1_0-rt.tld</taglib-location>
        </taglib>
    </jsp-config>
    <filter>
        <filter-name>LoginInterceptor</filter-name>
        <filter-class>com.nicebao.filter.LoginInterceptor</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginInterceptor</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>UserActionFilter</filter-name>
        <filter-class>com.nicebao.filter.UserActionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>UserActionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>



</web-app>
